[Unit]
Description=Disk Space Monitor Service
After=network.target

[Service]
Type=simple
User=user-12-42
ExecStart=/usr/local/bin/disk-monitor
Restart=always

[Install]
WantedBy=multi-user.target
